<div class="success-modal-inner-content">
  <div class="centered">
      <span class="material-symbols-outlined fs-1" style="transform: rotate(270deg);">celebration</span>
      <p class="upper-title text-center fs-1 fw-bolder glow d-inline-block">It's a Match!</p>
      <span class="material-symbols-outlined fs-1">celebration</span>
  </div>

  <div class="d-flex justify-content-around pb-3">
    <% @users.each do |user| %>
      <div class="users">
        <% if user.avatar.attached? %>
          <%= cl_image_tag user.avatar.key, :class => " bla hbuddy-match-avatar big" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <p class="upper-title text-center fs-1 fw-bolder glow">
      Get to know
  </p>
  <p class="title text-center fs-1 fw-bolder glow">
    your buddy !
  </p>
    <div class="centered mt-5">
      <%= link_to chatroom_path(Chatroom.find_by("user1_id = ? OR user2_id = ?", @user_receiver, @user_receiver).id),
                  class:"btn-chatroom text-center aqua",
                  data: { action: "click->swipe#hideModal" } do %>
        <%# <button class="btn btn-primary longer"><i class="fa-regular fa-comment-dots"></i>  Start to chat ! </button>
      <% end %>
    <%# <br> %>
      <%# <button class="btn-continue text-center btn btn-outline-primary btn-rounded mt-2 longer" data-action="click->swipe#hideModal"> %>
        <%# Continue to swipe %>
      <%# </button> %>
      <div class="d-flex flex-column mb-3">
        <div><button class="btn btn-primary longer"><i class="fa-regular fa-comment-dots"></i>  Start to chat ! </button></div>
        <% end %>
        <div><button class="btn-continue text-center btn btn-outline-primary btn-rounded mt-2 longer" data-action="click->swipe#hideModal">Continue to swipe</button></div>
      </div>
    </div>
</div>
