<div class="success-modal-inner-content">
    <p class="upper-title text-center fs-3">
      It's a
    </p>
    <p class="title text-center fs-3">
      Match!
    </p>
  <div class="d-flex justify-content-around pb-3">
    <% @users.each do |user| %>
      <div class="users">
        <% if user.avatar.attached? %>
          <%= cl_image_tag user.avatar.key, :class => "bla" %>
        <% end %>
      </div>
    <% end %>
  </div>
    <%= link_to chatrooms_path(@chatroom),
                class:"btn-chatroom text-center aqua",
                data: { action: "click->swipe#hideModal" } do %>
      <p><i class="fa-regular fa-comment-dots"></i>Commencer à discuter</P>
    <% end %>
    <p class="btn-continue text-center" data-action="click->swipe#hideModal">
      Continuer d'explorer
    </p>
</div>

<style>
  .bla {
    border-radius: 50%;
    width: 110px;
    height: 110px;
  }

  .aqua{
    color: #2a9d8f;
  }
</style>
