// Define variables for your color scheme

$gray: #0E0000;
$light-gray: #F4F4F4;

$japanese-indigo: #264653;
$jungle-green: #2A9D8F;
$arylide-yellow: #E9C46A;
$sandy-brown: #F4A261;
$burnt-sienna: #E76F51;
$black-olive: #3D3D3D;
$old-silver: #858585;