// removing the default underline decoration on links
a {
  text-decoration: none;
}

html, body  {
  background: linear-gradient(0deg, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 61%, rgba(255,255,255,1) 100%);
  min-height: 100%;
}
