.hbuddy-matches-list {
  margin: 0;
  height: 0;
  text-indent: 0;
  list-style-type: none;
  height: 100px;
  background-color: rgba(231,111,81,0.5);
  touch-action: pan-x;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  li{
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
}
