html, body {
  height: 100%;
}

.hbuddy-matches-list {
  margin: 0;
  text-indent: 0;
  list-style-type: none;
  height: 100px;
  background: linear-gradient(90deg, rgba(231,111,81,1) 0%, rgba(231,111,81,1) 55%, rgba(244,162,97,1) 100%);
  touch-action: pan-x;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  li{
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.hbuddy-message-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.hbuddy-message-preview {
  margin-left: 12px;
  min-width: 0;
  flex: 1;
  .first-name {
    margin: 0;
    line-height: 1.5rem;
    font-weight: 700;
  }
  .message {
    margin: 5px 0 0;
    font-size: 0.875rem;
    line-height: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.hbuddy-chatroom {
  margin-top: 9px;
  height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .hbuddy-chatroom-header {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem 0;
    .ico {
      display: flex;
      align-items: center;
      width: 40px;
      height: 50px;
    }
    a {
      text-decoration: none;
    }
    p {
      margin-left: 18px;
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 500;
    }
  }

  .hbuddy-messages {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    height: 100%;
    touch-action: pan-y;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }

  .hbuddy-message-input {
    margin-top: 10px;
    border-radius: 10rem;
    .message_content, .activity_message_content {
      margin-bottom: 0 !important;
    }
    textarea.form-control {
      height: 45px;
      background: transparent;
      border-radius: 10rem 0 0 10rem;
      border: none;
      margin: 4px;
    }
    .btn {
      border-radius: 0 10rem 10rem 0;
    }
  }
}
