Specific CSS for your home-page

html, body{
height: 100%; min-height:100%;
margin-bottom: 70px;
margin-top: 50px;
}

.hbuddy-home-bg {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://www.zupimages.net/up/23/07/6nl3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.hbuddy-home-card {
  position: absolute;
  top: 120px;
}

.hbuddy-home-text {
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 21px;
    animation: 1000ms ease 0s 1 normal backwards running gisjuz;

}

.hbuddy-home-text span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 350px;
  font-size: clamp(20px, 8vw, 120px);
}

.hbuddy-home-text span::after {
  content: "";
  display: block;
  position: absolute;
  width: 350px;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(20%);
}



.hbuddy-home-text:nth-child(2) {
  animation: txt-appearance 1s 1.25s forwards;

}


.hbuddy-home-text:nth-child(2) span::after {
  background:#FFFFFF80;
  animation: slide-in 0s 0s ease-out forwards,
  slide-out 1s 1.3s ease-out forwards;
  }

@keyframes slide-in {
  100% {
    transform: translateX(0%)
  }
}

@keyframes slide-out {
  100% {
    transform: translateX(100%)
  }
}

@keyframes txt-appearance {
  100% {
color:white
  }
}



@media screen and (min-width:600px) {
  .hbuddy-home-text span {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 1200px;
    font-size: clamp(20px, 8vw, 120px);
  }

  .hbuddy-home-text span::after {
    content: "";
    display: block;
    position: absolute;
    width: 1200px;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(20%);
  }

}
