.background-color-entertainment {
  background-color: $danger;
}

.background-color-culture {
  background-color: $burnt-sienna;
}

.background-color-food {
  background-color: $primary;
}

.background-color-sports {
  background-color: $japanese-indigo;
}

.background-color-wellness {
  background-color: $jungle-green;
}

.background-color-sightseeing {
  background-color: $arylide-yellow;
}

.background-color-outdoors {
  background-color: $sandy-brown;
}
