<% @users.each do |user| %>
  <%= image_tag user.avatar, height: 300, width: 400, crop: :fill %>
  <%= user.full_name %> -
  <%= user.age %>
<% end %>
<%# <button class="btn btn-primary">x</button> %>
<%# <button class="btn btn-warning">LIKE</button> %>


