<h1>Test page for HTML/CSS components</h1>

<p>Bootstrap btn with custom btn</p>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-success text-light">Success</button>
<button type="button" class="btn btn-danger text-light">Danger</button>
<button type="button" class="btn btn-warning text-light">Warning</button>
<button type="button" class="btn btn-info text-light">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
<hr>
<div>
<h2>Disabled buttons</h2>
  <button type="button" class="btn btn-primary" disabled>Primary button</button>
  <button type="button" class="btn btn-success text-light" disabled>Success</button>
  <button type="button" class="btn btn-danger text-light" disabled>Danger</button>
  <button type="button" class="btn btn-warning text-light" disabled>Warning</button>
  <button type="button" class="btn btn-info text-light" disabled>Info</button>
  <button type="button" class="btn btn-light" disabled>Light</button>
  <button type="button" class="btn btn-secondary" disabled>Secondary</button>
  <button type="button" class="btn btn-dark" disabled>Dark</button>
</div>
<hr>
<div>
<h2>Outline buttons</h2>
  <button type="button" class="btn btn-outline-primary btn-rounded">Primary</button>
  <button type="button" class="btn btn-outline-success btn-rounded">Success</button>
  <button type="button" class="btn btn-outline-danger btn-rounded">Danger</button>
  <button type="button" class="btn btn-outline-warning btn-rounded">Warning</button>
  <button type="button" class="btn btn-outline-info btn-rounded">Info</button>
  <button type="button" class="btn btn-outline-secondary btn-rounded">Secondary</button>
  <button type="button" class="btn btn-outline-dark btn-rounded">Dark</button>
</div>
<hr>
<div>
  <button type="button" class="btn btn-primary rounded-pill">Primary</button>
  <button type="button" class="btn btn-success rounded-pill text-light">Success</button>
  <button type="button" class="btn btn-danger rounded-pill text-light">Danger</button>
  <button type="button" class="btn btn-warning rounded-pill text-light">Warning</button>
  <button type="button" class="btn btn-info rounded-pill text-light">Info</button>
  <button type="button" class="btn btn-light rounded-pill">Light</button>
  <button type="button" class="btn btn-secondary rounded-pill">Secondary</button>
  <button type="button" class="btn btn-dark rounded-pill">Dark</button>
</div>
<hr>
<p>Bootstrap badges</p>
<span class="badge text-bg-primary">Primary</span>
<span class="badge text-bg-success text-light">Success</span>
<span class="badge text-bg-danger text-light">Danger</span>
<span class="badge text-bg-warning text-light">Warning</span>
<span class="badge text-bg-info text-light">Info</span>
<span class="badge text-bg-secondary">Secondary</span>
<span class="badge text-bg-light">Light</span>
<span class="badge text-bg-dark">Dark</span>
<hr>
<p>Material Icons</p>
<div>
  <span class="material-symbols-outlined">search</span>
  <span class="material-symbols-outlined">home</span>
  <span class="material-symbols-outlined">settings</span>
  <span class="material-symbols-outlined">favorite</span>
  <span class="material-symbols-outlined">swipe_left</span>
  <span class="material-symbols-outlined">add_box</span>
  <span class="material-symbols-outlined">chat_bubble</span>
</div>
<hr>
