<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="container hbuddy-home-bg d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))", img src=/Users/lansari/code/lenaa1208/asmasadqi/hob-buddy/app/assets/images/dave-hoefler-AJXKxuRrUcg-unsplash.jpg">
  <div class="text-center text-light">
    <p>
      <span>
        READY TO
      </span>
    </p>
    <p>
      <span>
        FIND HOB'BUDDIES?
      </span>
    </p>
  </div>
</div>
