<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="container bg-warning d-flex align-items-center hbuddy-home-bg">
  <div class="text-center text-light">
    <p class="hbuddy-home-text">
      <span>
        READY TO
      </span>
    </p>
    <p class="hbuddy-home-text">
      <span>
        FIND HOB'BUDDIES?
      </span>
    </p>
  </div>
</div>
