<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="hbuddy-home-bg d-flex align-items-center">
  <div class="hbuddy-home-card text-center text-light">
    <p class="hbuddy-home-text">
      <span>
        READY TO FIND
      </span>
    </p>
    <p class="hbuddy-home-text">
      <span>
        HOBBY BUDDIES?
      </span>
    </p>
  </div>
</div>
