<div class="hbuddy-home-bg d-flex align-items-center">
  <div class="hbuddy-home-card text-center text-light">
    <p class="hbuddy-home-text">
      <span>
        READY TO FIND
      </span>
    </p>
    <p class="hbuddy-home-text">
      <span>
        HOBBY BUDDIES?
      </span>
    </p>
    <svg width="90" height="138" viewBox="0 0 222 342" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M73.84 148.113L111.21 185.543L148.84 147.973C163.97 132.863 168.1 110.893 161.2 92.0425C158.63 85.0125 154.53 78.4225 148.89 72.7725C128.14 51.9925 94.47 51.9725 73.69 72.7225C68.05 78.3625 63.94 84.9425 61.35 91.9725C52.26 96.7925 43.73 103.033 36.07 110.683C25.08 121.663 16.99 134.453 11.8 148.083C-2.57 110.143 5.53999 65.6225 36.11 35.0925C77.67 -6.40747 145.01 -6.35747 186.51 35.2025C217.03 65.7625 225.08 110.283 210.67 148.193C205.48 161.833 197.4 174.613 186.4 185.593L111.15 260.733L70.04 219.563C52.92 198.673 54.13 167.783 73.64 148.293L73.83 148.103L73.84 148.113Z" stroke="white" stroke-width="8" stroke-miterlimit="10"/>
      <path d="M111.11 336.323L35.97 261.073C5.45001 230.513 -2.6 185.992 11.81 148.082C17 134.442 25.08 121.662 36.08 110.682C43.74 103.032 52.27 96.7925 61.36 91.9725C92.49 75.4425 130.11 75.4725 161.21 92.0425C168.11 110.892 163.98 132.862 148.85 147.972L148.66 148.162C127.96 127.642 94.57 127.632 73.85 148.122L73.66 148.312C54.15 167.802 52.93 198.693 70.06 219.583C71.17 220.943 72.35 222.252 73.61 223.512L111.18 261.143L148.81 223.573C150.11 222.283 151.33 220.933 152.46 219.533L186.43 185.612C197.42 174.632 205.51 161.843 210.7 148.213C225.07 186.153 216.96 230.673 186.39 261.203L111.14 336.342L111.11 336.323Z" stroke="white" stroke-width="8" stroke-miterlimit="10"/>
    </svg>
  </div>
</div>
