.navbar {
  background: white;
  height: 60px;
  bottom: 0;
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  z-index: 1000;
  padding-left: 20px;
}

// @media screen and (min-width:600px) {
//   .navbar {
//     background: #F4F4F4;
//     height: 50%;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     position: fixed;
// }
// }
