.navbar {
  background: white;
  height: 60px;
  bottom: 0;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;

  padding: 10px;
  z-index: 1000;

  .hbuddy-match-avatar {
    margin-top: 3px;
  }

  .nav-item {
    color: $burnt-sienna;
  }

}
