// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "config/reset";
@import "components/index";
@import "pages/index";

body {
  overscroll-behavior: none;
}

.scrollable {
  margin-bottom: 70px;
  margin-top: 50px;
  height: 100%; min-height:100%;
}
