$orange: #FF945A;
$green: #B1DA96;

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 5.875rem;
  bottom: 5.875rem;
  overflow: hidden;

  &__content {
    user-select: none;
    height: 100%;
    width: 100%;
    padding: 0 1rem 2rem 1rem;
  }

  &__card-cont {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__card {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 100%;
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.4rem;

    &.reset {
      transition: transform 0.3s;
      transform: translateX(0) !important;

      .swiper__card__choice {
        transition: opacity 0.3s;
        opacity: 0 !important;;
      }
    }

    &.swiped {
      transition: transform 0.3s;
    }

    &.to-left {
      transform: translateX(-30rem) rotate(-30deg) !important;
    }

    &.to-right {
      transform: translate(30rem) rotate(30deg) !important;
    }

    &.below {
      z-index: 1;
    }

    &__content {
      height: 100%;
      border-radius: 0.8rem;
      position: relative;
      &_top {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 1rem 2rem 2rem 2rem;
      }
      &_bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1.4rem;
      }
    }

    &__img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.8rem;
    }

    &__name {
      font-size: 1.6rem;
      color: #FFFFFF;
      margin-bottom: 0.3rem;
    }

    &__distance {
      font-size: 0.75rem;
      color: #FFFFFF;
    }

    &__choice {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 1.5rem;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 2rem;
        height: 2rem;
        margin-left: -1rem;
        color: #fff;
        border-radius: 50%;
        box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
      }

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 4rem;
        height: 1.5rem;
        margin-left: -2rem;
        border: 0.6rem solid #fff;
        border-bottom: none;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
      }

      &.m--reject {
        background: $orange;
      }
      &.m--like {
        background: $green;

        &:after {
          transform: scaleY(-1);
        }
      }
    }

    &__drag {
      z-index: 5;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: grab;
    }
  }
}
